In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('train.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            318438 non-null  int64
 1   Hospital_code                      318438 non-null  int64
 2   Hospital_type_code                 318438 non-null  object
 3   City_Code_Hospital                 318438 non-null  int64
 4   Hospital_region_code               318438 non-null  object
 5   Available Extra Rooms in Hospital  318438 non-null  int64
 6   Department                         318438 non-null  object
 7   Ward_Type                          318438 non-null  object
 8   Ward_Facility_Code                 318438 non-null  object
 9   Bed Grade                          318325 non-null  float64
 10  patientid                          318438 non-null  int64
 11  City_Code_Patient                  313906 non-null  float64
 12  Type of Admission                  318438 non-null  object
 13  Severity of Illness                318438 non-null  object
 14  Visitors with Patient              318438 non-null  int64
 15  Age                                318438 non-null  object
 16  Admission_Deposit                  318438 non-null  float64
 17  Stay                               318438 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [4]:
dataset.isnull().values.any()

True

In [5]:
dataset = dataset.dropna()

In [6]:
dataset.isnull().values.any()

False

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313793 entries, 0 to 318437
Data columns (total 18 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   case_id                            313793 non-null  int64
 1   Hospital_code                      313793 non-null  int64
 2   Hospital_type_code                 313793 non-null  object
 3   City_Code_Hospital                 313793 non-null  int64
 4   Hospital_region_code               313793 non-null  object
 5   Available Extra Rooms in Hospital  313793 non-null  int64
 6   Department                         313793 non-null  object
 7   Ward_Type                          313793 non-null  object
 8   Ward_Facility_Code                 313793 non-null  object
 9   Bed Grade                          313793 non-null  float64
 10  patientid                          313793 non-null  int64
 11  City_Code_Patient                  313793 non-null  float64
 12  Type of Admission                  313793 non-null  object
 13  Severity of Illness                313793 non-null  object
 14  Visitors with Patient              313793 non-null  int64
 15  Age                                313793 non-null  object
 16  Admission_Deposit                  313793 non-null  float64
 17  Stay                               313793 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 45.5+ MB

In [8]:
for col in dataset.columns:
    print(col, ':', len(dataset[col].unique()))

case_id : 313793
Hospital_code : 32
Hospital_type_code : 7
City_Code_Hospital : 11
Hospital_region_code : 3
Available Extra Rooms in Hospital : 18
Department : 5
Ward_Type : 6
Ward_Facility_Code : 6
Bed Grade : 4
patientid : 90344
City_Code_Patient : 37
Type of Admission : 3
Severity of Illness : 3
Visitors with Patient : 28
Age : 10
Admission_Deposit : 7283
Stay : 11

In [9]:
pd.get_dummies(dataset, drop_first = True).shape

(313793, 54)

In [10]:
dataset.Hospital_code.value_counts().sort_values(ascending=False).head(20)

26    32681
23    26112
19    21035
6     20016
11    17107
28    16947
14    16917
27    14109
9     11381
12    11149
29    11092
32    10561
25     9642
10     9271
15     9134
21     8047
24     7835
3      7030
17     5373
1      5188
Name: Hospital_code, dtype: int64

In [11]:
top_10 = [x for x in dataset.Hospital_code.value_counts().sort_values(ascending=False).head(10).index]
top_10

[26, 23, 19, 6, 11, 28, 14, 27, 9, 12]

In [12]:
for lable in top_10:
    dataset[lable] = np.where(dataset['Hospital_code']==lable, 1, 0)
dataset[['Hospital_code'] + top_10].head(40)

    Hospital_code  26  23  19  6  11  28  14  27  9  12
0               8   0   0   0  0   0   0   0   0  0   0
1               2   0   0   0  0   0   0   0   0  0   0
2              10   0   0   0  0   0   0   0   0  0   0
3              26   1   0   0  0   0   0   0   0  0   0
4              26   1   0   0  0   0   0   0   0  0   0
5              23   0   1   0  0   0   0   0   0  0   0
6              32   0   0   0  0   0   0   0   0  0   0
7              23   0   1   0  0   0   0   0   0  0   0
8               1   0   0   0  0   0   0   0   0  0   0
9              10   0   0   0  0   0   0   0   0  0   0
10             22   0   0   0  0   0   0   0   0  0   0
11             26   1   0   0  0   0   0   0   0  0   0
12             16   0   0   0  0   0   0   0   0  0   0
13              9   0   0   0  0   0   0   0   0  1   0
14              6   0   0   0  1   0   0   0   0  0   0
15              6   0   0   0  1   0   0   0   0  0   0
16             23   0   1   0  0   0   0   0   0  0   0
17             29   0   0   0  0   0   0   0   0  0   0
18             32   0   0   0  0   0   0   0   0  0   0
19             12   0   0   0  0   0   0   0   0  0   1
20             16   0   0   0  0   0   0   0   0  0   0
21              3   0   0   0  0   0   0   0   0  0   0
22             21   0   0   0  0   0   0   0   0  0   0
23              6   0   0   0  1   0   0   0   0  0   0
24             26   1   0   0  0   0   0   0   0  0   0
25             28   0   0   0  0   0   1   0   0  0   0
26             26   1   0   0  0   0   0   0   0  0   0
27             26   1   0   0  0   0   0   0   0  0   0
28              6   0   0   0  1   0   0   0   0  0   0
29             27   0   0   0  0   0   0   0   1  0   0
30             27   0   0   0  0   0   0   0   1  0   0
31             19   0   0   1  0   0   0   0   0  0   0
32             26   1   0   0  0   0   0   0   0  0   0
33              5   0   0   0  0   0   0   0   0  0   0
34              5   0   0   0  0   0   0   0   0  0   0
35             10   0   0   0  0   0   0   0   0  0   0
36             26   1   0   0  0   0   0   0   0  0   0
37             12   0   0   0  0   0   0   0   0  0   1
38             32   0   0   0  0   0   0   0   0  0   0
39             19   0   0   1  0   0   0   0   0  0   0

In [13]:
dataset.head(10)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,26,23,19,6,11,28,14,27,9,12
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,...,0,0,0,0,0,0,0,0,0,0
2,3,10,e,1,X,2,anesthesia,S,E,2.0,...,0,0,0,0,0,0,0,0,0,0
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,...,1,0,0,0,0,0,0,0,0,0
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,...,1,0,0,0,0,0,0,0,0,0
5,6,23,a,6,X,2,anesthesia,S,F,2.0,...,0,1,0,0,0,0,0,0,0,0
6,7,32,f,9,Y,1,radiotherapy,S,B,3.0,...,0,0,0,0,0,0,0,0,0,0
7,8,23,a,6,X,4,radiotherapy,Q,F,3.0,...,0,1,0,0,0,0,0,0,0,0
8,9,1,d,10,Y,2,gynecology,R,B,4.0,...,0,0,0,0,0,0,0,0,0,0
9,10,10,e,1,X,2,gynecology,S,E,3.0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
top_10 = [x for x in dataset.City_Code_Patient.value_counts().sort_values(ascending=False).head(10).index]
top_10

[8.0, 2.0, 1.0, 7.0, 5.0, 4.0, 9.0, 15.0, 10.0, 6.0]

In [15]:
for lable in top_10:
    dataset[lable] = np.where(dataset['City_Code_Patient']==lable, 1, 0)
dataset[['City_Code_Patient'] + top_10].head(40)

    City_Code_Patient  8.0  2.0  1.0  7.0  5.0  4.0  9  15.0  10.0  6
0                 7.0    0    0    0    1    0    0  0     0     0  0
1                 7.0    0    0    0    1    0    0  0     0     0  0
2                 7.0    0    0    0    1    0    0  0     0     0  0
3                 7.0    0    0    0    1    0    0  0     0     0  0
4                 7.0    0    0    0    1    0    0  0     0     0  0
5                 7.0    0    0    0    1    0    0  0     0     0  0
6                 7.0    0    0    0    1    0    0  0     0     0  0
7                 7.0    0    0    0    1    0    0  0     0     0  0
8                 7.0    0    0    0    1    0    0  0     0     0  0
9                 7.0    0    0    0    1    0    0  0     0     0  0
10                7.0    0    0    0    1    0    0  0     0     0  0
11                7.0    0    0    0    1    0    0  0     0     0  0
12                7.0    0    0    0    1    0    0  0     0     0  0
13                7.0    0    0    0    1    0    0  0     0     0  0
14                8.0    1    0    0    0    0    0  0     0     0  0
15                8.0    1    0    0    0    0    0  0     0     0  0
16                8.0    1    0    0    0    0    0  0     0     0  0
17                8.0    1    0    0    0    0    0  0     0     0  0
18                8.0    1    0    0    0    0    0  0     0     0  0
19                8.0    1    0    0    0    0    0  0     0     0  0
20                8.0    1    0    0    0    0    0  0     0     0  0
21                8.0    1    0    0    0    0    0  0     0     0  0
22                8.0    1    0    0    0    0    0  0     0     0  0
23                8.0    1    0    0    0    0    0  0     0     0  0
24                8.0    1    0    0    0    0    0  0     0     0  0
25                2.0    0    1    0    0    0    0  0     0     0  0
26                2.0    0    1    0    0    0    0  0     0     0  0
27                2.0    0    1    0    0    0    0  0     0     0  0
28                2.0    0    1    0    0    0    0  0     0     0  0
29                2.0    0    1    0    0    0    0  0     0     0  0
30                2.0    0    1    0    0    0    0  0     0     0  0
31                8.0    1    0    0    0    0    0  0     0     0  0
32                8.0    1    0    0    0    0    0  0     0     0  0
33                5.0    0    0    0    0    1    0  0     0     0  0
34                5.0    0    0    0    0    1    0  0     0     0  0
35                5.0    0    0    0    0    1    0  0     0     0  0
36                7.0    0    0    0    1    0    0  0     0     0  0
37                7.0    0    0    0    1    0    0  0     0     0  0
38                7.0    0    0    0    1    0    0  0     0     0  0
39                7.0    0    0    0    1    0    0  0     0     0  0

In [16]:
dataset.head(10)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,...,9,12,8.0,2.0,1.0,7.0,5.0,4.0,15.0,10.0
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,...,0,0,0,0,0,1,0,0,0,0
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,...,0,0,0,0,0,1,0,0,0,0
2,3,10,e,1,X,2,anesthesia,S,E,2.0,...,0,0,0,0,0,1,0,0,0,0
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,...,0,0,0,0,0,1,0,0,0,0
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,...,0,0,0,0,0,1,0,0,0,0
5,6,23,a,6,X,2,anesthesia,S,F,2.0,...,0,0,0,0,0,1,0,0,0,0
6,7,32,f,9,Y,1,radiotherapy,S,B,3.0,...,0,0,0,0,0,1,0,0,0,0
7,8,23,a,6,X,4,radiotherapy,Q,F,3.0,...,0,0,0,0,0,1,0,0,0,0
8,9,1,d,10,Y,2,gynecology,R,B,4.0,...,0,0,0,0,0,1,0,0,0,0
9,10,10,e,1,X,2,gynecology,S,E,3.0,...,0,0,0,0,0,1,0,0,0,0

In [17]:
dataset.shape

(313793, 36)

In [18]:
y = dataset.iloc[:, 17].values
y

array(['0-10', '41-50', '31-40', ..., '11-20', '11-20', '0-10'],
      dtype=object)

In [19]:
x = list(dataset.columns)
x

['case_id',
 'Hospital_code',
 'Hospital_type_code',
 'City_Code_Hospital',
 'Hospital_region_code',
 'Available Extra Rooms in Hospital',
 'Department',
 'Ward_Type',
 'Ward_Facility_Code',
 'Bed Grade',
 'patientid',
 'City_Code_Patient',
 'Type of Admission',
 'Severity of Illness',
 'Visitors with Patient',
 'Age',
 'Admission_Deposit',
 'Stay',
 26,
 23,
 19,
 6,
 11,
 28,
 14,
 27,
 9,
 12,
 8.0,
 2.0,
 1.0,
 7.0,
 5.0,
 4.0,
 15.0,
 10.0]

In [20]:
x = dataset.iloc[:, [2,3,4,5,6,7,8,9,12,13,14,15,18,19,20,21,22,23,24,25,26,27,28,29,30,3,32,33,34,35]].values

In [21]:
print(x)

[['c' 3 'Z' ... 0 0 0]
 ['c' 5 'Z' ... 0 0 0]
 ['e' 1 'X' ... 0 0 0]
 ...
 ['a' 4 'X' ... 0 0 1]
 ['b' 2 'Y' ... 0 0 0]
 ['a' 7 'Y' ... 0 0 0]]

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,4,5,6,7,8,9,11])], remainder='passthrough')
x = np.array(ct.fit_transform(x))

In [23]:
x.shape

(313793, 78)

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [25]:
print(y)

[0 4 3 ... 1 1 0]

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)